@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/core/lib/scss/variables.scss";

#root {
  display        : flex;
  flex-direction : column;
  color          : $white;
  background     : $black;
}

html, body, #root {
  min-width  : 100%;
  min-height : 100vh;
}

main {
  display          : flex;
  // align-items      : center;
  flex-direction   : column;
  flex-grow        : 1;
  justify-content  : center;
  // padding          : 2rem 0;
  background-image : url("../pattern/darkExa.webp");
  gap              : 2rem;

  // * {
  //   margin : 0 2rem;
  // }
}

//
// .bp5-non-ideal-state {
//   width : auto
// }

// ul {
//   display        : flex;
//   flex-direction : column;
//   gap            : 1rem;
// }

li {
  list-style : none;
}

.bp5-tab-panel {
  width : 100%;
}

.bp5-tab-list {
  width : fit-content;
}
