@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/core/lib/scss/variables.scss";

#root {
  background: $black;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
  min-width: 100%;
  width: fit-content;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;

  background-image: url("../pattern/darkExa.webp");
}
