footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  padding: 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #222;
}
